body{
    color: #40514E;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

h1{
    margin-top: 50px;
    font-size: 80px;
    font-family: 'Sacramento', cursive;
    color: #66518E;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66518E;
    line-height: 2;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #66518E;
}

a{
    color: #66518E;
    
}
/* 
div{
    /* background-color: #FF9494; 
} */

hr{
    background-color: transparent;
    border-style: none;
    border-color: #4a4a4a;
    height: 2px;
    width: 3%;
    border-top-style: dotted;
    border-width: 6px;
    margin: 120px auto 80px auto;
}

p{
        line-height: 2;
}

a{
    color: #66518E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #5c4686;
    text-decoration: underline;
}

.topContainer{
    background-color: #FF8787;
    position: relative;
    padding-top: 75px;
}

.midContainer{
    margin: 100px 0;
}
.bottomContainer{
    background-color: #FF9494;
    padding: 50px 0 20px;
}

.pro{
    text-decoration: underline;
}

.topImage{
    position: absolute;
    width: 150px;
    right: 250px;
    top: 50px;
}

.bottomImage{
    position: absolute;
    width: 150px;
    left: 250px;
    bottom: 300px;
}

.profileImg{
    width: 15%;
}

.profilIntro{
    width: 30%;
    margin: auto;
}

.computerImg{
 width: 25%;
 float: left;
 margin-right: 30px;
}

.japanImg{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align:left;
}

.contact-meMessage{
    width: 30%;
    margin: 40px auto 60px;
}

.contactBtn {
    background: #DD5353;
    background-image: -webkit-linear-gradient(top, #DD5353, #B73E3E);
    background-image: -moz-linear-gradient(top, #DD5353, #B73E3E);
    background-image: -ms-linear-gradient(top, #DD5353, #B73E3E);
    background-image: -o-linear-gradient(top, #DD5353, #B73E3E);
    background-image: -webkit-gradient(to bottom, #DD5353, #B73E3E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .contactBtn:hover {
    border: solid #337FED 0;
    background: #FD8282;
    background-image: -webkit-linear-gradient(top, #FD8282, #EB1D36);
    background-image: -moz-linear-gradient(top, #FD8282, #EB1D36);
    background-image: -ms-linear-gradient(top, #FD8282, #EB1D36);
    background-image: -o-linear-gradient(top, #FD8282, #EB1D36);
    background-image: -webkit-gradient(to bottom, #FD8282, #EB1D36);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }

 .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
 }



